.profileContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:auto;
    width: 90%;
    margin-left: 5%;
    flex-wrap: wrap;
    margin:10;
    background-color: white;
    
}
.profileCard{
    height:120px ;
    width:100px;
    background-color:white;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 15px;
    /* box-shadow:1px 1px 1px 1px #F6951D; */
    border:2px solid #F6951D;
    padding: 30px;
    box-shadow: 1.5px 1.5px #EAC79B;
    
    
    
    
}

.profileImage{
    height: 55%;
    width: 100%;
    padding-top: 8px;
    border-radius: 15px;
    padding-left: 8px;


    
    
}
.profileInfo{
height:45% ;
width: 100%;
padding-left: 18px;
align-items: center;
padding-top: 5px;

}
.Name{
    font-size: 20px;
}
.work{
    font-size: 17px;
}
